<label class="inline-grid grid-cols-[min-content_2.25rem_auto] h-5 cursor-pointer">
  <input
    type="checkbox"
    class="w-0 h-0"
    [disabled]="disabled"
    [ngModel]="checked"
    (ngModelChange)="onModelChange($event)"
    [ngModelOptions]="{standalone: true}"
    [name]="name"
  />
  <span class="transition relative bg-white rounded-[0.625rem] box-border border border-slate-300 border-solid" [class.bg-sky-500]="checked" [class.border-sky-700]="checked">
    <span class="left-0.5 absolute block w-4 h-4 rounded-full top-1/2 -translate-y-1/2" [ngClass]="checked ? 'bg-white left-auto right-0.5' : 'bg-slate-300'" ></span>
  </span>
  <span class="ml-2 inline-block h-5 text-sm">
    <ng-content></ng-content>
  </span>
</label>
