<label class="flex justify-between items-center">
  <span class="text-xs font-medium text-gray-900 my-2">Enabled</span>
  <input class="checkbox" type="checkbox" [(ngModel)]="enabled" (ngModelChange)="toggle()" [name]="'enabled_' + id" />
</label>
<section>
  <webgl2-range-input fieldName="rotation_x" label="X rotation" [min]="-359" [max]="359" [step]="1" [(ngModel)]="rotation_x" (ngModelChange)="rotate()"></webgl2-range-input>
  <webgl2-range-input fieldName="rotation_y" label="Y rotation" [min]="-359" [max]="359" [step]="1" [(ngModel)]="rotation_y" (ngModelChange)="rotate()"></webgl2-range-input>
  <webgl2-range-input fieldName="rotation_z" label="Z rotation" [min]="-359" [max]="359" [step]="1" [(ngModel)]="rotation_z" (ngModelChange)="rotate()"></webgl2-range-input>
</section>
<section>
  <webgl2-range-input fieldName="translation_x" label="X translation" [min]="-400" [max]="400" [step]="1" [(ngModel)]="translation_x" (ngModelChange)="translate()"></webgl2-range-input>
  <webgl2-range-input fieldName="translation_y" label="Y translation" [min]="-400" [max]="400" [step]="1" [(ngModel)]="translation_y" (ngModelChange)="translate()"></webgl2-range-input>
  <webgl2-range-input fieldName="translation_z" label="Z translation" [min]="-400" [max]="400" [step]="1" [(ngModel)]="translation_z" (ngModelChange)="translate()"></webgl2-range-input>
</section>
<section>
  <webgl2-range-input fieldName="scale_x" label="X scale" [min]="-10" [max]="10" [step]="1" [(ngModel)]="scale_x" (ngModelChange)="scale()"></webgl2-range-input>
  <webgl2-range-input fieldName="scale_y" label="Y scale" [min]="-10" [max]="10" [step]="1" [(ngModel)]="scale_y" (ngModelChange)="scale()"></webgl2-range-input>
  <webgl2-range-input fieldName="scale_z" label="Z scale" [min]="-10" [max]="10" [step]="1" [(ngModel)]="scale_z" (ngModelChange)="scale()"></webgl2-range-input>
</section>
