@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: Proxima Nova, system-ui, sans-serif;
}

/* You can add global styles to this file, and also import other style files */
body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@import "./styles/button";
@import "./styles/forms";
@import "./styles/containers";
