@tailwind components;

@layer components {
  .checkbox {
    @apply w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2;
  }
  .input {
    @apply bg-white rounded border-gray-300 border text-xs text-center;
  }
}
