body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: #1a1f26;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "sidebar main";
}

#main {
  grid-area: main;
}
#aside {
  grid-area: sidebar;
  width: 26rem;
  padding: 0.5rem;
  box-sizing: border-box;
}
