<ng-template #rangeInputTemplate let-label="label" let-min="min" let-max="max" let-step="step" let-id="stateKey">
  <label for="minmax-range" class="block text-xs font-medium text-gray-900 mt-2">{{label}}</label>
  <input id="minmax-range" type="range" [ngModel]="getModel(id)" (ngModelChange)="setModel(id, $event); modelChanged(id)" [min]="min" [max]="max" [step]="step" value="5" class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700">
  <div class="flex justify-between w-full mt-0.5">
    <span class="min-w-[1.5rem] text-center text-xs text-gray-600 inline-block rounded-md bg-gray-200 p-1">{{min}}</span>
    <span>{{getModel(id)}}</span>
    <span class="min-w-[1.5rem] text-center text-xs text-gray-600 inline-block rounded-md rounded-xs bg-gray-200 p-1">{{max}}</span>
  </div>
</ng-template>

<webgl2-foldable-section title="Camera" [open]="getUiModel('cameraOpen')" (openStateChanged)="setUiModel('cameraOpen', $event); uiModelChanged()">
  <ng-container *ngTemplateOutlet="rangeInputTemplate; context: { label: 'X rotation', min: -180, max: 180, step: 0.5, stateKey: 'camera_rotation_x' }"></ng-container>
  <ng-container *ngTemplateOutlet="rangeInputTemplate; context: { label: 'Y rotation', min: -180, max: 180, step: 0.5, stateKey: 'camera_rotation_y' }"></ng-container>
  <ng-container *ngTemplateOutlet="rangeInputTemplate; context: { label: 'Z rotation', min: -180, max: 180, step: 0.5, stateKey: 'camera_rotation_z' }"></ng-container>
  <ng-container *ngTemplateOutlet="rangeInputTemplate; context: { label: 'X offset', min: -100, max: 100, step: 1, stateKey: 'camera_position_x' }"></ng-container>
  <ng-container *ngTemplateOutlet="rangeInputTemplate; context: { label: 'Y offset', min: -100, max: 100, step: 1, stateKey: 'camera_position_y' }"></ng-container>
  <ng-container *ngTemplateOutlet="rangeInputTemplate; context: { label: 'Z offset', min: -100, max: 100, step: 1, stateKey: 'camera_position_z' }"></ng-container>
</webgl2-foldable-section>

<webgl2-foldable-section title="Perspective" [open]="getUiModel('perspectiveOpen')" (openStateChanged)="setUiModel('perspectiveOpen', $event); uiModelChanged()">
  <ng-container *ngTemplateOutlet="rangeInputTemplate; context: { label: 'FOV in degrees', min: -180, max: 180, step: 1, stateKey: 'camera_angle' }"></ng-container>
  <ng-container *ngTemplateOutlet="rangeInputTemplate; context: { label: 'Near', min: 0, max: 50, step: 0.1, stateKey: 'camera_near' }"></ng-container>
  <ng-container *ngTemplateOutlet="rangeInputTemplate; context: { label: 'Far', min: -100, max: 1000, step: 1, stateKey: 'camera_far' }"></ng-container>
</webgl2-foldable-section>

<webgl2-foldable-section title="Objects" [open]="getUiModel('objectsOpen')" (openStateChanged)="setUiModel('objectsOpen', $event); uiModelChanged()">
  <webgl2-foldable-section title="Create" [open]="getUiModel('objectsCreateOpen')" (openStateChanged)="setUiModel('objectsCreateOpen', $event); uiModelChanged()">

  </webgl2-foldable-section>
  <webgl2-foldable-section title="List" [open]="getUiModel('objectsListOpen')" (openStateChanged)="setUiModel('objectsListOpen', $event); uiModelChanged()">

  </webgl2-foldable-section>
</webgl2-foldable-section>
